version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_vue_testes
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=vue_testes

  mongo-express:
    image: mongo-express:latest
    container_name: mongo_express_vue_testes
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=pass
    depends_on:
      - mongodb

volumes:
  mongo-data:
